block variables
 - var selected = "Portfolio"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    //- link(rel='stylesheet', href='src/style.css')
    //- link(rel='stylesheet', href='src/media-style.css')
    //- link(rel='stylesheet', href='src/fonts/stylesheet.css')
    link(rel='shortcut icon', href='/favicon.png', type='image/x-icon') 
    title Foliospace: #{title}
  body
    div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow
      h5.my-0.mr-md-auto.font-weight-normal
        a(href="#home", title="Expresso") Home

      nav.my-2.my-md-0.mr-md-3
        a.p-2.text-dark(href="#education") Education
        a.p-2.text-dark(href="#portfolio") Portfolio
        a.p-2.text-dark(href="#contact") Contact 
    
    section#home
      .container
        h1 Hi, I'm #{person.userName}
        h2 Thanks for stopping by.
    
    section#education
      .container
      p Education
      p= person.schoolName
      p= person.degree
      p= person.gradDate
    
    section#portfolio
      .container
      // source for image layout: https://codepen.io/SitePoint/pen/bEvVqP
      .images
        a(href='https://res.cloudinary.com/foliospace/image/upload/v1559599367/testing/boat.jpg')
          figure
            img(src='https://res.cloudinary.com/foliospace/image/upload/v1559599367/testing/boat.jpg', alt='boat.jpg')
            figcaption
              | Caption Testing

    section#contact
      .container
        table
          td Contact Info
          td
            a(href=person.linkedinURL target="_blank") LinkedIn #{person.linkedinURL}
          td
            a(href=person.githubURL target="_blank") Github #{person.githubURL}
    // - JS stuff  -----------------
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://media-library.cloudinary.com/global/all.js')
