extends layout

block variables
  - var title = "Projects"

block content
  h2.text-center My Projects
	
  body 
    form#newPrj(action='/projects', method='post')
        input.btn.btn-primary.btn-block(type='submit', value='Start New Project')  
    p 
    h1= 'All Projects'
    p
        table  
            tr
                td= "Project Id"
                td= "Project Name"
                td= "View / Edit Project"
                td= "Delete Project"
            for project in projectList
                tr
                    td= project.projectId
                    td= project.projectName
                    td
                        //a(href='/projects/'+project.projectId) #{project.projectName}
                        form#viewPrj(action='/projects/'+project.projectId, method='get')
                            .form-group
                                input.btn.btn-primary.btn-block(type='submit', value='View')
                    td
                        form#deletePrj(action='/projects/'+project.projectId, method='delete')
                            .form-group
                                input#prjId(type='hidden', name='prjId', value=project.projectId)
                                input.btn.btn-primary.btn-block(type='submit', value='Delete') 
    script(src='/javascript/delete_project.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js')


